# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/__tests__/lhci
/.vscode/launch.json

# next.js
/.next/
/out/
next-env*

# misc
.DS_Store

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env

# build files
dist
*.tgz

# Optional npm cache directory
.npm
.npmrc
